@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}
.button {
  background-color: #1d4ed8;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2563eb;
}
.topnav {
  height: 56px;
  position: fixed; /* 如果想固定在页面顶部 */
  width: 100%;
  z-index: 100; /* 确保在其他元素之上 */
}
.sidebar-container {
  margin-top: 56px; /* 确保不会被挤压 */
}

